/*index*/

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h3{
  font-size: 15px;
  font-family: 'EB Garamond', serif;
}

.index{
  font-family: "Times New Roman", Times, serif;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: yellow;
}

.padding{
  padding: 15px;
  width: 314px;
}

.textoderecha{
  text-align: right;
}

.sangria{
  display:inline-block;
  text-indent: 51px;
}

.cursiva{
  font-style: italic;
}


/*01__diario*/

.volver__01{
  width: 51px;
}

.paloma{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
}




/*03__cuando*/

.tapa{
  width: 343px;
}


h2{
  font-size: 22px;
  font-family: 'EB Garamond', serif;
  text-align: center;
}

.textocentrado{
  text-align: center;
}

.sellooi{
  width: 92px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.selloflor{
  width: 51px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.doblesangria{
  display: inline-block;
  text-indent: 102px;
}


/*04__okytomo*/

.okylogo{
  width: 92px;
}


/*05__retorica*/



.volver__05{
  width: 200px;
}

.padding05{
  padding: 15px;
  width: 515px;
}



/*volver*/

.mesita{
  width: 250px;
}

.fueguito{
  width: 51px;
}