/*index*/

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.index{
  font-family: "Times New Roman", Times, serif;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: yellow;
}

.mesita{
  width: 250px;
}

p{
  width: 314px;
}

.padding{
  padding: 15px;
}

.textoderecha{
  text-align: right;
}

.cursiva{
  font-style: italic;
}


/*01__columnitas*/

.volver{
  width: 51px;
}

.columnitas{
  display:inline-block;
  text-indent: 51px;
}

.ojo{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*02__amor*/

h3{
  font-size: 15px;
  font-family: 'EB Garamond', serif;
}


/*03__cuando*/

.tapa{
  width: 343px;
}

.cuandocentrado{
  width: 314px;
  padding: 15px;
}

h2{
  font-size: 22px;
  font-family: 'EB Garamond', serif;
  text-align: center;
}

.textocentrado{
  text-align: center;
}

.sellooi{
  width: 92px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.selloflor{
  width: 51px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sangria{
  display:inline-block;
  text-indent: 51px;
}

.doblesangria{
  display: inline-block;
  text-indent: 102px;
}


/*04__okytomo*/

.okylogo{
  width: 92px;
}


/*05__retorica*/

.volver05{
  width: 151px;
}