h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.index{
  font-family: "Times New Roman", Times, serif;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: yellow;
}

.mesita{
  width: 250px;
}

p{
  width: 343px;
}

.columnitas{
  display:inline-block;
  text-indent: 34px;
}

.columnitaspadding{
  padding: 15px;
}

.cursiva{
  font-style: italic;
}

.volver{
  width: 51px;
}
